/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 150px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* main related styles */

section {
    margin-top: 128px;
}

.feature-container {
    display: flex;
    gap: 24px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 48px;
    margin-left: 240px;
    margin-right: 240px;
}

.flower-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0px 75px;
}

.flower-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 41px 57px 41px;
}

.flower-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

/* no-marks related styles */
.no-marks-container {
    display: flex;
    gap: 100px;
    padding: 86px 175px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-left: 240px;
    margin-right: 240px;


}

/* hot-deals related styles */

.hot-deals-container {
    display: flex;
    gap: 186px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
}

.hot-deals-banner {
    text-align: center;
}

.pink {
    color: #E55473;
}

/* instagram related styles */

.instagram-container {
    display: flex;
    gap: 24px;
    margin: 48px 240px 0px 240px;

}

/* latest deals related styles */

.latest-deals {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 128px 240px 0px 240px;
    padding: 122px 287px;
}

input[type='email'] {
    border-radius: 8px;
    border: none;
    background: #FFF;
    padding: 23px 513px 22px 22px;
    margin-right: 16px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* footer related styles */

footer {
    background: #111010;
    padding: 128px 648px;
    margin-top: 128px;
}

.white {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;

}

.section-description-footer {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* bonus-section related styles */
.bonus-container {
    display: flex;
    gap: 25px;
    padding: 0px 240px 0px 240px;
}
hr {
    border: 2px solid #E55473;
    width: 100px;
}
.bonus-container:hover{
    background: rgba(167, 33, 98, 0.15);
}
.bonus-container p:hover{
    color:#E55473;
    font-size: 25px;
    font-weight: 700px;
}